/* font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;500;700;800&display=swap');


/*colores*/
$primary-color:#75C2F6;
$secondary-color:#ebb433;
$title-color:#f0f8fd;
$text-color:#d1e2ee;
$body-color:#c5e3f7;;
$main-color:#3485d6;
/*colores de clima*/

/* normalize */
body {
    min-height: 100vh;
    background-color: $body-color;
    padding: 0;
    margin: 0;
    font-family: 'Sora', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: 
                        "header"
                        "main";
}
a {
    text-decoration: none;
}

/* Mixin */
@mixin flex {
    display: flex;
    align-items: center;
}

/* header */
header {
    background-color: $primary-color;
    height: 3rem;
    grid-area: header
}

/*navbar*/
.nav {
    @include flex;
    justify-content: space-between;
    color: $title-color;
    height: 100%;

    &__logo__container {
        @include flex;
        gap: .5rem;
        margin-left: 1rem;
        .nav__logo{
            color: $title-color;
            font-size: 1.4rem;
            font-weight: 600;
        }

        .nav__reference{
            font-size: .7rem;
            a {
                color: $title-color;
            }

        }
    }

    &__search{
        margin-right: 1rem;
        @include flex;

        #nav__input{
            height: 1.5rem;
            border-radius: 3px;
            border: 1px solid $title-color;
        }

        button {
            height: 1.5rem;
            background-color: transparent;
            border: none;
            color: $title-color;
            transition: background-color 0.5s ease-in-out;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            &:hover {
                background-color: $secondary-color;
                cursor: pointer;
            }
        }
    }
}

/* Main */
main {
    grid-area: main;
    background-color: $main-color;
    margin: 0 10%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}

/* main top*/
.main__top {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr;
    color: $text-color;
    
    &__left {
        @include flex;
        justify-content: center;
        
        img {
            height: auto;
            width: 6rem;
        }
    }
    &__center{
        @include flex;
        flex-direction: column;
        justify-content: center;

        .city {
            font-size: 8rem;
        }
        .region-country {
            font-size: 2rem;
        }
    }
    &__right{
        @include flex;
        flex-direction: column;
        justify-content: flex-end;
        .toggle{
            
        }
        .weather-img{
            
            img {
                width: 7rem;
            }
        }
    }
}

/* main-middle */
.main__middle {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr;
    color: $text-color;

    &__left {
        @include flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        padding-left: 25%;
        color: $secondary-color;
        font-weight: 500 ;
        font-size: 1.2rem;
    }
    &__right {
        @include flex;
        justify-content: center;
        .temp {
            font-size: 18rem;
            display: flex;
            &__unit {
                font-size: 4rem;
                padding-top: 4rem;
            }
        }
    }
}